﻿@model FactoringEmpresa.Web.Funcionalidades.ListarEmpresas.VerUnaEmpresaViewModel

<div id="VerEmpresa">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="alert alert-danger " role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        ¿Estás seguro de eliminar este registro?
                    </div>
                </div>
                <div class="modal-body">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ruc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ruc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RazonSocial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RazonSocial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Rubro)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rubro)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Departamento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Provincia)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Provincia)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Distrito)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Distrito)
                        </dd>

                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
