﻿@model IEnumerable<FactoringEmpresa.Web.Funcionalidades.ListarEmpresas.ListaEmpresasViewModel>

@{
    ViewBag.Title = "Empresas";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Create New", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ruc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-xs"
                        data-toggle="dropdown">
                    <span>
                        <i class="glyphicon glyphicon-collapse-down"></i>
                        <span class="caret"></span>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Ajax.ActionLink(" Editar", "Editar", "Empresa"
                   , new { id = item.Ruc }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "EditarEmpresaForm"
                   }
                   ,
                   new
                   {
                       data_toggle = "modal",
                       data_target = "#EditarEmpresaForm",
                       @class = "glyphicon glyphicon-pencil"
                   }
                   )
                    </li>                    
                    <li>
                        @Ajax.ActionLink(" Eliminar", "Eliminar", "Empresa"
                   , new { id = item.Ruc }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "EliminarEmpresaForm"
                   }
                   ,
                   new
                   {
                       data_toggle = "modal",
                       data_target = "#EliminarEmpresaForm",
                       @class = "glyphicon glyphicon-trash"
                   })
                    </li>
                    <li><span>====================</span></li>
                    <li>
                        @Ajax.ActionLink("Nueva Factura", "Registrar", "Factura"
                   , new {
                       id = item.Ruc,
                       empresa = item.RazonSocial
                   }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "NuevaFacturaEmpresaForm"
                   }
                   ,
                   new
                   {
                       data_toggle = "modal",
                       data_target = "#NuevaFacturaEmpresaForm"
                   })
                    </li>
                    <li>
                        @Ajax.ActionLink("Ver Facturas", "Lista","Factura", new { id = item.Ruc }, new AjaxOptions { HttpMethod = "Get" })
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
</table>


<div id="EditarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditarEmpresalabel"
     aria-hidden="true">
</div>

<div id="EliminarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EliminarEmpresalabel"
     aria-hidden="true">
</div>

<div id="NuevaFacturaEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="NuevaFacturaEmpresalabel"
     aria-hidden="true">
</div>


@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
